<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{{# if status}}
		<h2>Your Orders</h2>
		{{else}}
		<h2>Past Orders</h2>
		{{/if }}
		{{# each orders}}
			<div class="panel panel-default">
			  <div class="panel-body">
			    <ul class="list-group">
			    	{{# each this.items}}
					  <li class="list-group-item">
					    <span class="badge">${{this.price}}</span>
					    {{this.item.title}} | {{this.qty}} units
					  </li>
					  {{/ each}}
					  <li class="list-group-item"> Payment number: {{this.paymentId}}</li>
				</ul>

			  </div>
			  <div class="panel-footer">Total cost $ {{this.cart.totalPrice}}</div>
			  <div>
			  	<div>
			  	<h2><strong>Shipping address</strong></h2>
			  	<h4>{{this.name}}</h4>
			  	<h4>{{this.street}}</h4>
			  	<h4>{{this.city}}, {{this.state}} {{this.zipcode}}</h4>
			  	</div>
			  	<div>
			  		{{# if status}}
			  		{{else}}
			  		{{/if}}
			  	</div>
			</div>
		{{/ each}}
	</div>
</div>